body {
	font-family: 'Helvetica';
}

.titulo {
	display: block;
	text-align: center;
	font-size: 50px;
}

ul{
	margin-left: 10px;
}


button{
	margin-left: 5px !important;
	margin-top: 5px !important;
}

#material-actual{
	text-align: center;
	font-size: 30px;
	letter-spacing: 4px;
	color: darkgreen;
}

tr {
	align: top;
}

td:first-child{
	border-spacing: 1;
}

.filtro{
	background-color: white;
	padding: 20px;
	font-size: 15px;
	border: solid 2px green;
	margin-left: 20px;
}

.row{
	width: 100%;
}


.datos-ent{
	border: solid 2px green;
	background-color: white;
	
}

.datos-ent:hover {
	cursor: pointer !important;
	background-color: #f2f2f2;
}

#mapa-ent{
	border: solid 1px green;
}

.nombre-ent {
	margin-left: 20px;
	font-size: 25px;
	font-weight: bolder;
	line-height: 2;
}

.detalles-ent{
	margin-left: 20px;
	color: green;	
}

.detalles-de-entidad tr td{
	font-size: 22px;
}