body {
	font-family: 'Helvetica';
}

.encabezado {
	height: 80px;
}

ul{
	margin-left: 10px;
}

button{
	margin-left: 5px !important;
	margin-top: 5px !important;
}

.filtro{
	padding: 20px;
	font-size: 15px;
	border: solid 1px green;
}

.row{
	width: 100%;
}

#resultados{
	margin-left: 40px;
}

#datos-ent{
	border: solid 1px green;
}

#mapa-ent{
	border: solid 1px green;
}

.nombre-ent {
	font-size: 25px;
	font-weight: bolder;
}

.detalles-ent{
	margin-left: 20px;
	color: green;	
}
